node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.metro-health-check*
yarn-debug.*
yarn-error.*
*.pem
*.tsbuildinfo
env.ts
google-services.json
GoogleService-Info.plist
package-lock.json
expo-env.d.ts
android/
ios/
.idea